In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
import os

In [5]:
os.chdir("Downloads")

In [7]:
df=pd.read_csv("Customer Purchase.csv")

In [8]:
df

    Customer ID  Age  Gender Education   Review Purchased
0          1021   30  Female    School  Average        No
1          1022   68  Female        UG     Poor        No
2          1023   70  Female        PG     Good        No
3          1024   72  Female        PG     Good        No
4          1025   16  Female        UG  Average        No
5          1026   31  Female    School  Average       Yes
6          1027   18    Male    School     Good        No
7          1028   60  Female    School     Poor       Yes
8          1029   65  Female        UG  Average        No
9          1030   74    Male        UG     Good       Yes
10         1031   98  Female        UG     Good       Yes
11         1032   74    Male        UG     Good       Yes
12         1033   51    Male    School     Poor        No
13         1034   57  Female    School  Average        No
14         1035   15    Male        PG     Poor       Yes
15         1036   75    Male        UG     Poor        No
16         1037   59    Male        UG     Poor       Yes
17         1038   22  Female        UG     Poor       Yes
18         1039   19    Male    School     Good        No
19         1040   97    Male        PG     Poor       Yes
20         1041   57  Female    School  Average       Yes
21         1042   32    Male        PG  Average        No
22         1043   18  Female        PG     Poor       Yes
23         1044   96  Female    School     Good        No
24         1045   16  Female        PG  Average       Yes
25         1046   57  Female    School     Good        No
26         1047   53  Female        PG     Poor        No
27         1048   69  Female        PG     Poor        No
28         1049   48    Male    School     Poor        No
29         1050   83  Female        UG  Average       Yes
30         1051   73    Male        UG  Average        No
31         1052   22  Female    School     Poor       Yes
32         1053   92    Male        UG  Average       Yes
33         1054   89  Female        PG     Good       Yes
34         1055   86    Male    School  Average        No
35         1056   74    Male    School     Poor       Yes
36         1057   34  Female        UG     Good       Yes
37         1058   94    Male        PG  Average       Yes
38         1059   45  Female    School     Good        No
39         1060   76    Male        PG     Poor        No
40         1061   39    Male    School     Good        No
41         1062   23    Male        PG     Good       Yes
42         1063   30  Female        PG     Good       Yes
43         1064   27    Male        PG     Poor        No
44         1065   77  Female        UG  Average        No
45         1066   61    Male        PG     Poor       Yes
46         1067   64  Female        PG     Poor        No
47         1068   38  Female        PG     Good       Yes
48         1069   39  Female        UG     Good       Yes
49         1070   25  Female        UG     Good        No

In [9]:
df.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

In [10]:
df.shape

(50, 6)

In [11]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Education', 'Review', 'Purchased'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  50 non-null     int64
 1   Age          50 non-null     int64
 2   Gender       50 non-null     object
 3   Education    50 non-null     object
 4   Review       50 non-null     object
 5   Purchased    50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [14]:
y=df["Purchased"]

In [15]:
y

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: Purchased, dtype: object

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le=LabelEncoder()

In [20]:
y=le.fit_transform(y)

In [21]:
y

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0])

In [22]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [23]:
le.inverse_transform([0,0,1,1])

array(['No', 'No', 'Yes', 'Yes'], dtype=object)

In [24]:
y

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0])